
  <nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../assets/images/hamburger.png" height="30px" width="30px" alt=""></a>

        <img src="../../assets/images/bell.png" class=" ms-auto" alt="">  
      <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
          <img src="../../assets/images/profile.png" height="40px" width="40px"/>
            Santhosh
          </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li>
           </li></ul>
      </ul>
    </div>
  </nav>