<div>

    
    
       
    <a class="navbar-brand" routerLink="">
        <img src="../../assets/images/logoHead2.png" width="30" height="30" alt="" class="mt-4">
      </a>
      
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
            <i class="bi-bootstrap fs-1"></i>
        </a>
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item">
                <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <img src="../../assets/images/dashboard.png" class="icons-nav"/>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                    <img src="../../assets/images/gigs.png" class="icons-nav"/>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                    <img src="../../assets/images/training.png" class="icons-nav"/>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                    <img src="../../assets/images/dashboard.png" class="icons-nav"/>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                    <img src="../../assets/images/clock.png" class="icons-nav"/>
                    
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                    <img src="../../assets/images/user.png" class="icons-nav"/>
                    
                </a>
            </li>
        </ul>
        
    </div>



</div>